.name-logo {
    text-align: center;
    font-family: 'Shadows Into Light', cursive; 
    font-weight: 700; 
    font-size: 5.4em;
    color: #3F69AA;
    font-style: normal;
}

.form-container {
    text-align: center;
}
